<table border="1">
    <thead>
        <tr>
            <th>id</th>
            <th>category</th>
            <th>message</th>
            <th>description</th>
            <th>cve</th>
            <th>severity</th>
            <th>scanner</th>
            <th>location</th>
            <th>identifiers</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>b502d34fb62447db1d6c8d4c006ba9813911ce9b2fb0091c2c09935bc3d0ad66</td>
            <td>sast</td>
            <td>Incorrect Regular Expression</td>
            <td>RegExp() called with a variable, this might allow an attacker to DOS your application with a
                long-running regular expression.</td>
            <td></td>
            <td>Medium</td>
            <td>
                <table border="1">
                    <tr>
                        <th>id</th>
                        <td>semgrep</td>
                    </tr>
                    <tr>
                        <th>name</th>
                        <td>Semgrep</td>
                    </tr>
                </table>
            </td>
            <td>
                <table border="1">
                    <tr>
                        <th>file</th>
                        <td>src/components/auth/signIn.tsx</td>
                    </tr>
                    <tr>
                        <th>start_line</th>
                        <td>56</td>
                    </tr>
                </table>
            </td>
            <td>
                <ul>
                    <li>
                        <table border="1">
                            <tr>
                                <th>type</th>
                                <td>semgrep_id</td>
                            </tr>
                            <tr>
                                <th>name</th>
                                <td>eslint.detect-non-literal-regexp</td>
                            </tr>
                            <tr>
                                <th>value</th>
                                <td>eslint.detect-non-literal-regexp</td>
                            </tr>
                            <tr>
                                <th>url</th>
                                <td>https://semgrep.dev/r/gitlab.eslint.detect-non-literal-regexp</td>
                            </tr>
                        </table>
                    </li>
                    <li>
                        <table border="1">
                            <tr>
                                <th>type</th>
                                <td>cwe</td>
                            </tr>
                            <tr>
                                <th>name</th>
                                <td>CWE-185</td>
                            </tr>
                            <tr>
                                <th>value</th>
                                <td>185</td>
                            </tr>
                            <tr>
                                <th>url</th>
                                <td>https://cwe.mitre.org/data/definitions/185.html</td>
                            </tr>
                        </table>
                    </li>
                    <li>
                        <table border="1">
                            <tr>
                                <th>type</th>
                                <td>eslint_rule_id</td>
                            </tr>
                            <tr>
                                <th>name</th>
                                <td>ESLint rule ID security/detect-non-literal-regexp</td>
                            </tr>
                            <tr>
                                <th>value</th>
                                <td>security/detect-non-literal-regexp</td>
                            </tr>
                        </table>
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>1048c5eab9e6fb198cad243c4112ce4f9daaf9dd840fc5c99389852363054507</td>
            <td>sast</td>
            <td>Incorrect Regular Expression</td>
            <td>RegExp() called with a variable, this might allow an attacker to DOS your application with a
                long-running regular expression.</td>
            <td></td>
            <td>Medium</td>
            <td>
                <table border="1">
                    <tr>
                        <th>id</th>
                        <td>semgrep</td>
                    </tr>
                    <tr>
                        <th>name</th>
                        <td>Semgrep</td>
                    </tr>
                </table>
            </td>
            <td>
                <table border="1">
                    <tr>
                        <th>file</th>
                        <td>src/components/auth/signUp.tsx</td>
                    </tr>
                    <tr>
                        <th>start_line</th>
                        <td>48</td>
                    </tr>
                </table>
            </td>
            <td>
                <ul>
                    <li>
                        <table border="1">
                            <tr>
                                <th>type</th>
                                <td>semgrep_id</td>
                            </tr>
                            <tr>
                                <th>name</th>
                                <td>eslint.detect-non-literal-regexp</td>
                            </tr>
                            <tr>
                                <th>value</th>
                                <td>eslint.detect-non-literal-regexp</td>
                            </tr>
                            <tr>
                                <th>url</th>
                                <td>https://semgrep.dev/r/gitlab.eslint.detect-non-literal-regexp</td>
                            </tr>
                        </table>
                    </li>
                    <li>
                        <table border="1">
                            <tr>
                                <th>type</th>
                                <td>cwe</td>
                            </tr>
                            <tr>
                                <th>name</th>
                                <td>CWE-185</td>
                            </tr>
                            <tr>
                                <th>value</th>
                                <td>185</td>
                            </tr>
                            <tr>
                                <th>url</th>
                                <td>https://cwe.mitre.org/data/definitions/185.html</td>
                            </tr>
                        </table>
                    </li>
                    <li>
                        <table border="1">
                            <tr>
                                <th>type</th>
                                <td>eslint_rule_id</td>
                            </tr>
                            <tr>
                                <th>name</th>
                                <td>ESLint rule ID security/detect-non-literal-regexp</td>
                            </tr>
                            <tr>
                                <th>value</th>
                                <td>security/detect-non-literal-regexp</td>
                            </tr>
                        </table>
                    </li>
                </ul>
            </td>
        </tr>
    </tbody>
</table>